.why-students-choose-us {
    padding: 20px 0;
    background-color: #ffffff;
}

.title-choose {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.containerml {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    /* To ensure wrapping in mobile view */
}

.contentml {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    flex-direction: row;
    /* Default to row for desktop */
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .contentml {
        flex-direction: column;
        /* Change to column on mobile */
        align-items: center;
        /* Center align the content */
        gap: 0px;
        /* Adjust spacing between elements */
    }

    .purple-box {
        width: 20%;
    }

    .purple-box,
    .image-box {
        /* width: 100%; */
        /* Full width on mobile */
        max-width: 100%;
        /* Ensure it doesn't exceed screen width */
        height: auto;
        /* Adjust height to fit content */
    }

    .image-box img {
        width: 90%;
        height: auto;
        padding: 15px;
    }
}

.purple-box {
    background-color: #6D3485;
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
}

.purple-box img {
    width: 50px;
    margin-bottom: 20px;
}

.text-box span {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.image-box {
    background-color: #f5f0fa;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 400px;
    height: 320px;
}

.image-box img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
}

.post-job-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 2px solid #333333;
    color: #333333;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-job-btn:hover {
    background-color: #333333;
    color: #ffffff;
}