.faq-section {
    /* padding-bottom: 2.5rem;
    padding-left: 2px; */
    padding: 20px;
}

.container-faq {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Align items to the start */
    gap: 5%;
    /* Adjust the gap between title and questions */
}

.faq-title {
    font-family: 'Baskerville', serif;
    font-size: 2.5rem;
    /* Adjust font size */
    font-weight: bold;
    margin-bottom: 2rem;
    width: 25%;
    /* Take up 25% of the width */
    text-align: left;
    /* Align title to left */
}

.questions {
    width: 75%;
    /* Take up 75% of the width */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.question {
    width: 100%;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .container-faq {
        flex-direction: column;
        /* Stack title and questions vertically */
        align-items: flex-start;
        /* Align items to start */
        gap: 0;
        /* Remove gap */
    }

    .faq-title {
        width: 100%;
        /* Full width on mobile */
        text-align: center;
        /* Center the title */
        margin-bottom: 1rem;
        /* Adjust margin for better spacing */
        font-size: 2rem;
        /* Reduce font size */
    }

    .questions {
        width: 100%;
        /* Full width on mobile */
    }
}

.question-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}

.collapse-icon {
    cursor: pointer;
}

.answer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: none;
    text-align: left;
}

.answer.active {
    display: block;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 1rem;
}